  .summary_business_name {
    margin: 0;
    padding-top: 15px;
  }

  .summary_business_image {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 400px;
    height: 400px;
  }

  .summary_recommender {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    padding-top: 15px;
    color: grey;
  }

  .summary_name {
    color: #2F3744;
  }

  .business_summary_article {
    display:flex; 
    flex-direction: row;
    /* border:1px solid #33415c; */
    align-content: flex-start;
    margin-bottom: 20px;
  }


  .display_map_container{
    margin-top: 85px;
  }