  .card_reviews {
    padding-top: 5px;
  }

  .card_business_name {
    margin: 0;
  }

  .card_business_image {
    padding-top: 5px;
    object-fit: cover;
    width: 400px;
    height: 400px;
  }

  .card_recommender {
    margin: 0;
    font-size: 1rem;
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    padding-top: 5px;
    color: grey;
  }

  .card_name {
    color: #2F3744;
  }

  .business_card_article {
    display:flex; 
    flex-direction: column;
    /* border:1px solid #33415c; */
    align-content: flex-start;
    margin-bottom: 40px;
    margin-right:20px;
    margin-left:20px;
    /* border-radius: 10px; */
  }