  .business_name {
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
  }

  .business_image {
    padding: 15px;
    object-fit: cover;
    width: 400px;
    height: 400px;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    color: #2F3744;
  }

  .recommender {
    padding-top: 15px;
    padding-left: 15px;
    color: grey;
  }

  .name {
    color: #2F3744;
  }

  .business_display_article {
    display:flex; 
    flex-direction: row;
    border:1px solid #33415c;
    align-content: flex-start;
    margin-bottom: 20px;
    margin-right:10px;
    margin-left:10px;
    border-radius: 10px;
  }


  .display_map_container{
    margin-top: 85px;
  }